  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1.2rem 0px 0px 0px;
    flex-wrap: wrap;
    /* width: 1000px; */
    /* height: 300px; */
  }
  
  .bloc-tabs {
    display: flex;
    margin: 3% 7% 1% 7%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .tabs {
    padding: 15px;
    text-align: center;
    /* width: 50%; */
    /* background: rgba(128, 128, 128, 0.075); */
    cursor: pointer;
    box-sizing: content-box;
    border-radius: 15px;
    margin: 0.1rem;
    position: relative;
    outline: none;
  }
  /* .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  } */
  
  .active-tabs  {
    background: var(--green);
    color: white;
    border-bottom: 2px solid transparent;
  }
  
  .active-tabs::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    /* background: rgb(88, 147, 241); */
  }
  
  button {
    border: none;
    color: var(--green);
    font-size: 22px;
    
  }
  .content-tabs {
    flex-grow : 1;
    justify-content: center;
  }
  .content {
    background: var(--white);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
  }
  .active-content {
    display: flex;
    justify-content: center;
  }
  
.No-result{
  margin-top: 3rem;
  margin-bottom: 6rem;
  font-size: 2.2rem;
  color: var(--black);
}